.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;

  @media (max-width: $screen-laptop) {
    display: block;
  }

  &__header {
    position: relative;
    z-index: 999;
    font-weight: 900;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  &__header-logo {
    width: 3rem;
    height: 3rem;
    vertical-align: -40%;
  }

  &__body {
    display: flex;
    flex-grow: 1;

    @media (max-width: $screen-laptop) {
      display: block;
    }
  }

  &__col1 {
    position: relative;
    z-index: 999;
    width: 270px;
    margin-right: 1rem;

    @media (max-width: $screen-laptop) {
      height: 30vh;
      width: auto;
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }

  &__col2 {
    flex-grow: 1;
    margin-right: 1rem;

    @media (max-width: $screen-laptop) {
      position: relative;
      height: 30vh;
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }

  &__col3 {
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;

    @media (max-width: $screen-laptop) {
      height: auto;
      width: auto;
    }
  }

  &__footer {
    position: relative;
    z-index: 999;
    padding-top: 1rem;
  }

  &__footer-copyright {
    margin-right: 1rem;
  }

  &__footer-link {
    color: #333;
    text-decoration: underline;

    &:hover {
      color: #999;
    }
  }

  &__footer-logo {
    width: 50px;
    height: 18px;
    vertical-align: middle;
    margin: 0 1rem;
  }


}