.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 1rem 1rem 1rem;

  @media (max-width: $screen-laptop) {
    display: block;
  }

  &__header {
    position: relative;
    margin:.5rem 0;
    user-select: none;

    &_hidden {
      display: none;
    }
    @media (max-width: $screen-laptop) {
      position: absolute;
      top:0;
      left:0;
    }
  }
  

  &__header-logo {
    width: 3rem;
    height: 3rem;
    vertical-align: -40%;
  }

  &__title {

    display: inline-block;
    position: relative;
    font-weight: 900;
    font-size: 1.5rem;
    
  }

  &__body {
    pointer-events: none;
    display: flex;
    flex-grow: 1;
    max-height: calc(100% - 75px - 52px);
    margin-bottom: .5rem;
    position: relative;
    @media (max-width: $screen-laptop) {
      display: flex;
      flex-direction: column;
      max-height: inherit;
    }
  }

  &__col1 {
    position: relative;
    width: 285px;
    margin-right: 1rem;

    @media (max-width: $screen-laptop) {
      order:2;
      height: 500px;
      width: auto;
      margin-bottom: 1rem;
      margin-right: 0;
    }

    &_hidden {
      display: none;
    }
  }

  &__col2 {
    flex-grow: 1;
    margin-right: 1rem;
    position: relative;
    @media (max-width: $screen-laptop) {
      position: relative;
      order:1;
    }
  }

  &__col3 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    @media (max-width: $screen-laptop-l) {
      width: 350px;
    }
    @media (max-width: $screen-laptop) {
      order:2;
      height: auto;
      width: auto;
    }

    &_hidden {
      display: none;
    }
  }

  &__footer {
    position: relative;
    display: flex;
    &_hidden {
      display: none;
    }
  }

  &__footer-copyright {
    margin-right: 1rem;
  }

  &__footer-link {
    color: #333;
    text-decoration: underline;

    &:hover {
      color: #999;
    }
  }

  &__footer-logo {
    width: 50px;
    height: 18px;
    vertical-align: middle;
    margin: 0 1rem;
  }


}