.countries-list{
  height: 100%;
  border: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  &__body{
    flex:1;
    overflow: auto;
  }
  &-unit{
    align-items: center;
    padding: .5rem;
    border:1px solid #ccc;
    display: flex;
    margin-bottom:.5rem;
    &:last-child{
      margin-bottom: 0;
    }
    &__flag{
      width: 30px;
      margin-right: 10px;
    }
    &__title{
      font-weight: bold;
    }
    &__value{
      margin-left: auto;
    }
    &--hidden{
      display: none;
    }
  }
}