.legend {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 1rem;
  cursor: default;
  user-select: none;

  @media (max-width: $screen-laptop) {
    right: 0px;
    bottom: 10px;
    margin: 0;
  }

  &_fullscreen {
    right: 1rem;
    bottom: 1rem;
  }

  &__inner {
    height: 0px;
    overflow: hidden;
    transition: 0.3s;

    &_active {
      height: auto;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:hover .legend__arrow {
      color: $accent;
      transform: rotate(270deg);
    }

    &:hover .legend__arrow_active {
      transform: rotate(90deg);
    }
  }

  &__arrow {
    display: inline-block;
    font-weight: 600;
    transform-origin: center;
    transform: rotate(90deg);
    margin-left: 0.5rem;
    transition: 0.3s;

    &_active {
      transform: rotate(270deg);
    }
  }

  &__menu {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  &__radio-box {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding-top: 1rem;

    @media (max-width: $screen-laptop) {
      display: block;
    }
  }

  &__select-box {
    width: 100%;
  }



  &__period, &__quantity {
    border: 1px solid $border-color;
    border-radius: 0.3rem;
    padding: 0.3rem;
  }


}