.switch-block{
  margin-bottom: .5rem;
  &__section{
    display: flex;
    justify-content:space-between;
    margin-bottom: .5rem;
    &:last-child{
      margin-bottom: 0;
    }
    &:empty{
      display: none;
    }
  }
  &-search{
    max-width: 50%;
    position: relative;
    &__body{
      border-radius: .3rem;
      border:1px solid $border-color;
      background-color: rgba(255,255,255,.8);
      backdrop-filter: blur(10px);
      z-index: 1;
      position: absolute;
      top:100%;
      width:100%;
      max-height: 190px;
      overflow: auto;
      display: none;
      &--shown{
        display: block;
      }
    }
    &__unit{
      cursor: pointer;
      transition:background-color .3s ease-in-out, color .3s ease-in-out;
      display: none;
      padding: 0.3rem;
      &:hover:not(.search__drop-item_noresult){
        background-color: $accent;
        color:#fff;
      }
      &--shown{
        display: block;
      }
    }
    
  }
  &__title{
    text-align: center;
    margin-bottom: .5rem;
    font-weight: bold;
  }
  &__select{
    background-color: transparent;
    border: 1px solid $border-color;
    border-radius: 0.3rem;
    padding: 0.3rem;
    cursor: pointer;
    transition:border-color .3s ease-in-out;
    &:hover{
      border-color: $accent;
    }
  }
  &__input{
    font-family: 'Fira Sans', sans-serif;
    cursor: pointer;
    background-color: transparent;
    padding: 0.3rem;
    border: 1px solid $border-color;
    border-radius: 0.3rem;
    width:100%;
    &::placeholder{
      color: #000;
    }
    transition:border-color .3s ease-in-out;
    &:hover{
      border-color: $accent;
    }
  }
}