@import "_variables.scss";
@import "_reset.scss";
@import "_radiogroup.scss";
@import "_btn.scss";
@import "_section.scss";
@import "_common.scss";
@import "_app.scss";
@import "_map.scss";
@import "_map-fullscreen.scss";
@import "_legend.scss";
@import "_infection.scss";
@import "_chart.scss";
@import "_table1.scss";
@import "_countries-list.scss";
@import "_switch-block.scss";
@import "_search.scss";
